@import url(../app.component.css);
.form {
  background-color: rgba(27, 67, 50, 0.5);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 80%;
  margin-right: 5%;
  font-family: 'Spectral', serif;
  color: #232222;
  font-size: 20px;
  font-weight: bold;
}
fieldset {
  width: 100%;
}
input {
  border: none;
  background: transparent;
  width: 25%;
  height: 45px;
  outline: none;
  border-bottom: 1px solid #b7e4c7ff;
  font-family: 'Spectral', serif;
  color: #232222;
  font-weight: bold;
}
input:invalid {
  border-bottom: 1px dashed red;
}
.input_r {
  width: 80%;
}
button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(214, 105, 32);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: purple;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;
}
