body {
  background-image: linear-gradient(rgb(126, 192, 197), rgb(44, 57, 233));
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  margin: 0 0 0 0;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header {
  border-bottom: 2px dashed #817f7f;
}
.main_text {
  width: 80%;
}
.graph_img {
  background: url(./Image/area.png) no-repeat;
  background-size: cover;
  width: 310px;
  height: 300px;
  align-self: start;
  margin-left: 10%;
}
